[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_full_version = "3.6.5"

[scripts]
import = "python import_messages.py"
export = "python export_messages.py"

[packages]
matrix_client = "*"
mongoengine = "*"
click = "*"
tabulate = "*"
pyyaml = "*"
"jinja2" = "*"
requests = "*"

[dev-packages]
